$blue-accent: #2878D4;
$background: #1f1f1f;

body {
  margin: 0;
  padding: 0;
}

@mixin font-700($font) {
  font-family: $font, sans-serif;
  font-weight: 700;
}

@mixin font-400($font) {
  font-family: $font, sans-serif;
  font-weight: 400;
}

@mixin profilePosSize($pos, $size) {
  background-position: $pos !important;
  background-size: $size !important;
}

/* Styling for main components */
#right-page {
  position: absolute;
  top: 50%;
  right: 65px;
}

#left-page {
  position: absolute;
  top: 50%;
  left: 65px;
}

#scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
}

#sidebar {
  padding-left: 60px;
  position: absolute;
}